
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% 9%;
    font-weight: 800;
    color: rgb(84, 84, 84);
   }
   
   .nav-links li {
    display: inline-block;
   }
   
   .nav-links a {
    text-decoration: none;
    list-style: none;
    color: rgb(84, 84, 84);
    transition: all 0.3s ease 0s;
   }
   
   .nav-links a:hover {
    color: black;
   }
   
   .nav-left li {
    padding-right: 30px;
   }
   
   .nav-right li {
    padding-left: 30px;
   }
   
   
   // lang buttons
   #langButtons{
       color: rgb(84, 84, 84);
       font-size: 1rem;
       font-weight: 800;
   }
   
   #deButton{
       text-decoration: none;
       background-color: white;
       border: none;
       color: rgb(84, 84, 84);
       font-size: 1rem;
       font-weight: 800;
       cursor: pointer;
       border-bottom: 2px solid rgb(185, 185, 185);
   }
   #enButton{
       text-decoration: none;
       background-color: white;
       border: none;
       color: rgb(84, 84, 84);
       font-size: 1rem;
       font-weight: 800;
       cursor: pointer;
       border-bottom: 2px solid rgb(185, 185, 185);
   }
   
   