
// skills section start

#skills {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    border-top: 2px solid grey;
    border-bottom: 4px solid grey;
   
    h2 {
     color: rgb(36, 36, 36);
     text-align: center;
     font-size: 2.5rem;
     padding-top: 10%;
    }
   
    h3{
       color: rgb(36, 36, 36);
       text-align: center;
     font-size: 2rem;
     padding-top: 8%;
    }
   
    p {
     font-size: 1.56rem;
     text-align: center;
     padding-top: 4%;
     font-weight: 600;
     color: rgb(84, 84, 84);
    }
   
    .Askills{
       font-size: 1.56rem;
     text-align: center;
     padding-top: 4%;
     font-weight: 600;
     color: rgb(84, 84, 84);
       font-size: 1.2rem;
    }
   }
   
   
   
   // skills section end