@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@0,400;1,500&family=Raleway&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700;900&family=Rubik:ital,wght@0,500;1,800&display=swap');

//

* {
 scroll-behavior: smooth;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: "Rubik";
}

body {
 width: 100%;
 height: 100vw;
}

::-webkit-scrollbar {
 width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
 background: rgb(84, 84, 84);
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: rgb(84, 84, 84);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: white;
}

.container {
 width: 100%;
}

// sidebar

.sidebar {
 display: inline-block;
 position: fixed;
 right: 2%;
 bottom: 35%;
 cursor: pointer;

 ul {
  list-style: none;

 }

 li {

  font-size: 4rem;
  margin-top: -120px;
 }

 li a:hover {
  color: rgb(84, 84, 84);

 }

 li a {
  color: lightgrey;
  text-decoration: none;
 }
}

// Navbar

.nav-links {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin: 5% 9%;
 font-weight: 800;
 color: rgb(84, 84, 84);
}

.nav-links li {
 display: inline-block;
}

.nav-links a {
 text-decoration: none;
 list-style: none;
 color: rgb(84, 84, 84);
 transition: all 0.3s ease 0s;
}

.nav-links a:hover {
 color: black;
}

.nav-left li {
 padding-right: 30px;
}

.nav-right li {
 padding-left: 30px;
}


// lang buttons
#langButtons{
    color: rgb(84, 84, 84);
    font-size: 1rem;
    font-weight: 800;
}

#deButton{
    text-decoration: none;
    background-color: white;
    border: none;
    color: rgb(84, 84, 84);
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}
#enButton{
    text-decoration: none;
    background-color: white;
    border: none;
    color: rgb(84, 84, 84);
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}


// Navbar end

.helloText {
 margin: 140px;
 text-align: center;
}

.helloText h1 {
 font-size: 4rem;
 font-weight: 500;
}

.helloText p {
 font-weight: 550;
 margin-top: 10px;
 font-size: 1.8rem;
 color: rgb(84, 84, 84);
}

// funky css Fiona

.tooltip {
 position: relative;
 display: inline-block;
 border-bottom: 5px solid rgb(117, 117, 117);
 padding: 0px 6px -4px 8px;
 margin: -10px 0;
 cursor: pointer;
 &:hover .info,
 &:focus .info {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
 }
 .info {
  box-sizing: border-box;
  position: absolute;
  top: -70%;
  left: -6%;
  display: block;
  background: #51be30;
  color: white;
  width: 200px;
  font-size: 1.5rem;
  line-height: 24px;
  cursor: text;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition: all .5s ease-out;
  border-radius: 10px;
  &:before {
   position: absolute;
   content: '';
   width: 100%;
   height: 14px;
   bottom: -14px;
   left: 0;
  }
  &:after {
   position: absolute;
   content: '';
   width: 10px;
   height: 10px;
   transform: rotate(45deg);
   bottom: -5px;
   left: 50%;
   margin-left: -5px;
   background: #51be30;
  }
  .fa {
   position: relative;
   margin-left: 10px;
   top: 1px;
   cursor: pointer;
   transition: all .2s ease-out;
   &:hover {
    transform: scale(1.15) translate3d(0, 0, 0);
    backface-visibility: none;
   }
  }
 }
 .text {
  display: block;
  padding: 13px 17px;
 }
}


// Hero Pics
.heroPics {
 display: inline-block;
 flex-direction: row;
 flex-wrap: wrap;
 width: 100%;
 text-align: center;
}


@media (max-width: 800px) {
 .heroPics img {
  width: 100%;
 }
}

/*
.pills {
 width: 50%;
 float: left;
}
*/

.branch {
 width: 60%;
 height: 60%;
 border: 10px solid rgb(27, 27, 27);
 border-radius: 20px;
}



// Hero Pics end


// About section

.about {
 text-align: center;
 width: 70%;
 margin: 0 auto;
 height: 600px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-bottom: 2px solid grey;
}

.about p {
 font-size: 1.2rem;
}

.about h2 {
 font-size: 2.5rem;
}


.aboutBlock {
 display: block;
}

.aboutBlock a {
 text-decoration: underline;
 color: rgb(84, 84, 84);
}

.aboutBlock p {
 font-weight: 600;
 color: rgb(84, 84, 84);
}

// About section end

// stuff section

#stuff-div {
 width: 100%;
 height: 1000px;
}

.stuff {
 height: 100%;
 width: 65%;
 margin: 0 auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 text-align: center;
 display: flex;


 h3 {
  font-size: 1.8rem;
 }

 p {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(84, 84, 84);
 }


 h3,
 p {
  width: 70%;
  position: relative;
  top: 40%;
  margin-left: 11%;
 }
}

.stuff div {
 display: inline-block;
}


.stuff1 {
 width: 50%;
 border-bottom: 2px solid rgb(186, 186, 186);
 border-right: 2px solid rgb(186, 186, 186);
}

.stuff2 {
 width: 50%;
 border-bottom: 2px solid rgb(186, 186, 186);
}

.stuff3 {
 width: 50%;
 border-right: 2px solid rgb(186, 186, 186);
}

.stuff4 {
 width: 50%;
}

@media (max-width: 800px) {


 .stuff div {
  position: relative;
  bottom: 5%;
 }



 .stuff1 {
  width: 100%;
  border: none;
 }

 .stuff2 {
  width: 100%;
  border: none;
 }

 .stuff3 {
  width: 100%;
  border: none;
 }

 .stuff4 {
  width: 100%;
  border: none;
 }
}

// skills section start

#skills {
 width: 70%;
 height: 600px;
 margin: 0 auto;
 border-top: 2px solid grey;
 border-bottom: 4px solid grey;

 h2 {
  color: rgb(36, 36, 36);
  text-align: center;
  font-size: 2.5rem;
  padding-top: 16%;
 }

 h3{
    color: rgb(36, 36, 36);
    text-align: center;
  font-size: 2rem;
  padding-top: 8%;
 }

 p {
  font-size: 1.56rem;
  text-align: center;
  padding-top: 4%;
  font-weight: 600;
  color: rgb(84, 84, 84);
 }

 .Askills{
    font-size: 1.56rem;
  text-align: center;
  padding-top: 4%;
  font-weight: 600;
  color: rgb(84, 84, 84);
    font-size: 1.2rem;
 }
}



// skills section end