@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@0,400;1,500&family=Raleway&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700;900&family=Rubik:ital,wght@0,500;1,800&display=swap');

@import "header";
@import "Hero";
@import "about";
@import "skills";

:root{
  --main-txt: rgb(35, 35, 35);
  --lighter-txt: rgb(84, 84, 84);
}

* {
 scroll-behavior: smooth;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: "Rubik";
}

body {
 width: 100%;
 height: 100vw;
 background: rgb(240, 240, 240);
}

::-webkit-scrollbar {
 width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
 background: rgb(84, 84, 84);
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: rgb(84, 84, 84);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: white;
}

.container {
 width: 100%;
}

// sidebar

.sidebar {
 display: inline-block;
 position: fixed;
 right: 2%;
 bottom: 35%;
 cursor: pointer;

 ul {
  list-style: none;

 }

 li {

  font-size: 4rem;
  margin-top: -120px;
 }

 li a:hover {
  color: rgb(84, 84, 84);

 }

 li a {
  color: lightgrey;
  text-decoration: none;
 }
}


// About section


// stuff section

#stuff-div {
 width: 100%;
 height: 1000px;
}

.stuff {
 height: 100%;
 width: 65%;
 margin: 0 auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 text-align: center;
 display: flex;


 h3 {
  font-size: 1.8rem;
 }

 p {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(84, 84, 84);
 }


 h3,
 p {
  width: 70%;
  position: relative;
  top: 40%;
  margin-left: 11%;
 }
}

.stuff div {
 display: inline-block;
}


.stuff1 {
 width: 50%;
 border-bottom: 2px solid rgb(186, 186, 186);
 border-right: 2px solid rgb(186, 186, 186);
}

.stuff2 {
 width: 50%;
 border-bottom: 2px solid rgb(186, 186, 186);
}

.stuff3 {
 width: 50%;
 border-right: 2px solid rgb(186, 186, 186);
}

.stuff4 {
 width: 50%;
}

@media (max-width: 800px) {


 .stuff div {
  position: relative;
  bottom: 5%;
 }



 .stuff1 {
  width: 100%;
  border: none;
 }

 .stuff2 {
  width: 100%;
  border: none;
 }

 .stuff3 {
  width: 100%;
  border: none;
 }

 .stuff4 {
  width: 100%;
  border: none;
 }
}
